.image-react {
    width: 100%;
    max-width: 350px; /* para que reduzca la imagen con tamanio pantalla */
}
.image-col {
    width:100%;
    max-width:35px;
    height: 100%;
    max-height: 35px;
}

.custom-img-bg {
    background: url("../img/bg-bricks.jpg");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}

@font-face {
    font-family: "urufont";
    src: url('../icon/urufont.woff2') format('woff2')
  }

.body-uru {
    font-family: "urufont", 'Trebuchet MS', Calibri, Tahoma, sans-serif;
}